html, body, div, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: gainsboro;
}

.cabecalho{
    display:flex;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 8px rgba(36, 36, 36, 0.15);
    background-color: white;
}
img{
    width: 90px;
}

h1{
    display: flex;
    text-align: center;
    margin-left: 300px;
    margin-top: 20px;
    font-size: xx-large;
}
#autores{
    text-align: justify;
    
}
li{
    list-style-type: none;
    font-size: x-small;
    text-align: justify;
    margin-left: 70px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#status{
    display: flex;
    margin-top: 50px;
    
    width: 600px;
    height: 400px;
    background-color: black;
    color: dodgerblue;

}